{% for lib in include.data %}
{% assign api = lib[1] %}
{% comment %} HACK: below operation returns an array of stable/nightly/legacy values only if they're enabled in docs.yml. see issue #97 {% endcomment %}
{% assign versions = api.versions | sort | where_exp: "item", "item[1] == 1" | join: "" | split: "1" | reverse %}
### {{ api.name }}
{{ api.desc }}
#### DOCS {% for version_name in versions %} **[{{ version_name }} ({{ site.data.releases[version_name].version }})](/api/{{ api.path }}/{{ version_name }})** {% unless forloop.last %}|{% endunless %} {% endfor %}
#### LINKS **[changelog]({{ api.cllink }}){:target="_blank"} | [github]({{ api.ghlink }}){:target="_blank"}**
{: .mb-7 }
{% endfor %}
