<table>
  <thead>
    <tr>
      <th>Label Combination</th>
      <th>GPU</th>
      <th>Driver Version</th>
      <th># of GPUs</th>
    </tr>
  </thead>
  <tbody>
    {% include gpu-labels-table-row.html arch="amd64" gpu="V100" driver="450" latest=false %}
    {% include gpu-labels-table-row.html arch="amd64" gpu="V100" driver="495" latest=true %}
    {% include gpu-labels-table-row.html arch="arm64" gpu="A100" driver="495" latest=true %}
    {% include gpu-labels-table-row.html arch="amd64" gpu="V100" driver="520" latest=false %}
    {% include gpu-labels-table-row.html arch="arm64" gpu="A100" driver="520" latest=false %}
  </tbody>
</table>
