<tr>
  <td>
    <code
      class="language-plaintext highlighter-rouge">[linux, {{include.arch}}, gpu-{{include.gpu|downcase}}-{{include.driver}}-1]</code>
    <span class="table_br"></span>
    <code
      class="language-plaintext highlighter-rouge">[linux, {{include.arch}}, gpu-{{include.gpu|downcase}}-{{include.driver}}]</code>
    {% if include.latest %}
    <span class="table_br"></span>
    <code
      class="language-plaintext highlighter-rouge">[linux, {{include.arch}}, gpu-{{include.gpu|downcase}}-latest-1]</code>
    <span class="table_br"></span>
    <code
      class="language-plaintext highlighter-rouge">[linux, {{include.arch}}, gpu-{{include.gpu|downcase}}-latest]</code>
    <span class="table_br"></span>
    <code class="language-plaintext highlighter-rouge">[linux, {{include.arch}}, gpu-latest-1]</code>
    <span class="table_br"></span>
    <code class="language-plaintext highlighter-rouge">[linux, {{include.arch}}, gpu-latest]</code>
    {% endif %}
  </td>
  <td><code class="language-plaintext highlighter-rouge">{{include.gpu}}</code></td>
  <td><code class="language-plaintext highlighter-rouge">{{include.driver}}</code></td>
  <td><code class="language-plaintext highlighter-rouge">1</code></td>
</tr>
