<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge">
  {% if page.description %}
  <meta name="Description" content="{{ page.description | truncate: 200 }}">
  <meta property="og:description" content="{{ page.description | truncate: 200 }}">
  <meta name="twitter:description" content="{{ page.description | truncate: 200 }}" />
  {% endif %}
  <meta property="og:title" content="{{ page.title }} - {{ site.title }}">
  <meta property="og:image" content="https://rapids.ai/assets/images/og_image.png">
  <meta property="og:image:secure_url" content="https://rapids.ai/assets/images/og_image.png" />
  <meta property="og:image:type" content="image/jpeg" />
  <meta property="og:image:width" content="400" />
  <meta property="og:image:height" content="300" />
  <meta property="og:url" content="{{ page.url }}">
  <meta property="og:site_name" content="{{ site.title }}">

  <meta name="twitter:site" content="{{ site.social.twitter.url }}" />
  <meta name="twitter:creator" content="@{{ site.social.twitter.username }}" />
  <meta name="twitter:card" content="summary">
  <meta name="twitter:image" content="https://rapids.ai/assets/images/og_image.png" />
  <meta name="twitter:image:alt" content="{{ site.title }}">
  <meta property="fb:app_id" content="1679326302390196" />

  <title>{{ page.title }} - {{ site.title }}</title>
  <link rel="stylesheet" href="{{ "/assets/css/just-the-docs.css" | relative_url }}">
  <link rel="stylesheet" href="{{ "/assets/css/custom.css" | relative_url }}">

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-DLJNCEWKZD"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-DLJNCEWKZD');
  </script>
  <script src="https://assets.adobedtm.com/5d4962a43b79/814eb6e9b4e1/launch-4bc07f1e0b0b.min.js"></script>
  {% if site.search_enabled != nil %}
  <script src="{{ "/assets/js/vendor/lunr.min.js" | relative_url }}"></script>
  {% endif %}
  <script src="{{ "/assets/js/just-the-docs.js" | relative_url }}"></script>
  <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
  <script defer src="https://use.fontawesome.com/releases/v5.8.0/js/all.js"
    integrity="sha384-ukiibbYjFS/1dhODSWD+PrZ6+CGCgf8VbyUH7bQQNUulL+2r59uGYToovytTf4Xm"
    crossorigin="anonymous"></script>

  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
