{% assign api = site.data.libs[include.library] %}
{% assign api_type = 'legacy' %}
{% if include.name contains 'stable' %}
  {% assign api_type = 'stable' %}
{% elsif include.name contains 'nightly' %}
  {% assign api_type = 'nightly' %}
{% endif %}

{% assign versions = api[api_type] %}
{% if api_type == 'legacy' %}
  {% assign versions = api[api_type] | where_exp: "item", "include.name contains item.file" %}
{% endif %}
{% assign link = versions[0].link %}

<div>
  <iframe src="{{ link }}" frameborder="0" allowfullscreen width="100%"></iframe>
</div>