<style>
    /* install options selector */
    /* new selector */

    .selector {
        width: 100%;
    }

    .selector-bg {
        background-color: #9943ff;
        padding: 1rem;
    }

    .selector .options-section {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
    }

    .selector .options .option-label {
        color: white;
        width: 6em;
        text-transform: uppercase;
        font-weight: 600;
        margin-top: 0.6em;
        margin-right: 0.6em;
        text-align: right;
    }

    .selector .options .option {
        background: #e3e3e3;
        color: #3c3c3c;
        flex: 1 1;
        margin: 0.2em;
        padding: 0.3em;
        cursor: pointer;
        line-height: 1.5em;
        box-shadow: 2px 2px 2px rgba(10, 10, 10, 0.4);
    }

    .selector .options .option:hover,
    .selector .options .option.active:hover,
    .cmd-button:hover
    {
        background: #ffb500;
        box-shadow: 1px 1px 0px rgba(10, 10, 10, 0.7);
        -webkit-transition: background-color 0.3s ease-in-out;
        -moz-transition: background-color 0.3s ease-in-out;
        -o-transition: background-color 0.3s ease-in-out;
        transition: background-color 0.3s ease-in-out;
        transition: box-shadow 0.1s ease-in-out;
    }

    .selector .options .option:active,
    .selector .options .option.active:active,
    .cmd-button:active {
        color: #9943ff;
    }

    .selector .options .note code {
        background: #e3e3e3;
        color: #000000;
        padding: 0.1em 0.1em 0.15em;
    }

    .selector .options .option-blank {
        color: white;
        flex: 1 1;
        margin: 0.2em;
        padding: 0.3em;
        line-height: 1.5em;
    }

    .selector .options .option-blank span {
        margin: auto;
    }

    .selector .options .note .option-blank {
        padding: 0 1em;
        text-align: center;
    }

    .selector .options .option-notice {
        color: #e0e0e0;
        flex: 1 1;
        margin: 0.2em;
        padding: 0.3em;
        line-height: 1.5em;
        background: #424242;
    }

    .selector .options .option-notice span {
        margin: auto;
    }

    .selector .options .option-notice a {
        font-weight: bold;
    }

    i.fa-up-6 {
        position: relative;
        top: -6px;
    }

    i.fa-down-6 {
        position: relative;
        top: 6px;
    }

    .selector .options .option .svg-inline--fa {
        margin-top: 0.2em;
        padding-left: 0.3em;
    }

    .selector .options .active {
        background: #36c9dd;
        font-weight: 600;
        color: #424242;
    }

    .selector .options .active.advanced {
        background: #ffb500;
        font-weight: 600;
        color: #424242;
    }

    .selector .options .disabled,
    .selector .options .perm-disabled {
        background: #a785e7 !important;
        color: #706880;
        cursor: not-allowed;
    }

    p.selector__source-cmd {
        color: #3c3c3c;
        margin-bottom: 0.4em;
    }

    .selector__source-cmd__link {
        text-decoration: underline;
        color: #080013;
    }

    .selector__source-cmd__list,
    p.selector__source-cmd {
        font-size: 1em;
    }

    .selector__source-cmd__list-item {
        margin-bottom: 0.2em;
    }

    .cmd {
        display: flex;
        margin-top: 2rem;
    }

    .cmd-label {
        color: white;
        width: 6em;
        text-transform: uppercase;
        font-weight: 600;
        margin-top: 2em;
        margin-right:0.6em;
    }

    .cmd-box {
        cursor: text;
        overflow: auto;
        width: calc(100% - 6em);
    }

    .cmd-button {
        background: #e3e3e3;
        border-radius: 0.3rem;
        color: #3c3c3c;
        flex: 1 1;
        margin: 0.5em;
        padding: 0.6em;
        cursor: pointer;
        line-height: 1.5em;
        box-shadow: 2px 2px 2px rgb(10 10 10 / 40%);
    }

    .hidden {
        display: none;
    }

    .noselect,
    div.option {
        -webkit-touch-callout: none;
        /* iOS Safari */
        -webkit-user-select: none;
        /* Safari */
        -khtml-user-select: none;
        /* Konqueror HTML */
        -moz-user-select: none;
        /* Firefox */
        -ms-user-select: none;
        /* Internet Explorer/Edge */
        user-select: none;
        /* Non-prefixed version, currently supported by Chrome and Opera */

    }

    .selector-buttons {
        text-align: center;
        margin-top: 1em;
    }

    .selector-buttons a {
        margin: 0 1em;
    }

    .selector .context {
        display: none;
    }

    .selector .option.active .fas {
        color: #3c3c3c;
    }

    .option-note {
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
    }


</style>

<script defer src="https://unpkg.com/alpinejs@3.10.2/dist/cdn.min.js"></script>

<section class="selector-bg">
    <div class="container-padding" x-data="rapids_selector">
        <div class="selector">
            <div class="options">
                <div class="options-section">
                    <div class="option-label">Release</div>
                    <template x-for="release in releases">
                        <div x-on:click="(e) => releaseClickHandler(e, release)"
                            x-bind:class="{'active': release === active_release, 'disabled': disableUnsupportedRelease(release)}"
                            class="option" x-text="getReleaseText(release)">
                        </div>
                    </template>
                </div>
                <div class="options-section">
                    <div class="option-label">Arch</div>
                    <template x-for="arch in arches">
                        <div x-on:click="(e) => archClickHandler(e, arch)"
                            x-bind:class="{'active': arch === active_arch}" class="option" x-text="arch"
                            x-text="getArchText(arch)">
                        </div>
                    </template>
                </div>
                <div class="options-section">
                    <div class="option-label">CUDA</div>
                    <template x-for="version in cuda_vers">
                        <div x-on:click="(e) => cudaClickHandler(e, version)"
                            x-bind:class="{'active': version === active_cuda_ver, 'disabled': disableUnsupportedCuda(version)}"
                            class="option" x-text="'CUDA ' + version"></div>
                    </template>
                </div>
                <div class="options-section" x-show="active_method != 'pip'">
                    <div class="option-label">Python</div>
                    <template x-for="version in python_vers">
                        <div x-on:click="(e) => pythonClickHandler(e, version)"
                            x-bind:class="{'active': version === active_python_ver, 'disabled': disableUnsupportedPython(version)}"
                            class="option" x-text="'Python ' + version"></div>
                    </template>
                </div>
                <div class="options-section">
                    <div class="option-label">Method</div>
                    <template x-for="method in methods">
                        <div x-on:click="(e) => methodClickHandler(e, method)"
                            x-bind:class="{'active': method === active_method}" class="option"
                            x-html="getMethodHTML(method)">
                        </div>
                    </template>
                </div>
                <div class="conda-options-container" x-show="active_method === 'Conda'">
                    <div class="options-section">
                        <div class="option-label">Packages</div>
                        <template x-for="package in packages">
                            <div x-on:click="(e) => packagesClickHandler(e, package)"
                                x-bind:class="{'active': active_packages.includes(package)}" class="option"
                                x-html="getPackageHTML(package)">
                            </div>
                        </template>
                    </div>
                    <div class="options-section">
                        <div class="option-label">Additional Packages</div>
                        <template x-for="package in additional_packages">
                            <div x-on:click="(e) => additionalPackagesClickHandler(e, package)"
                                x-bind:class="{'active': active_additional_packages.includes(package)}" class="option"
                                x-text="package"></div>
                        </template>
                    </div>
                </div>
                <div class="pip-options-container" x-show="active_method === 'pip'">
                    <div class="options-section">
                        <div class="option-label">Packages</div>
                        <template x-for="package in pip_packages">
                            <div x-on:click="(e) => packagesClickHandler(e, package)"
                                x-bind:class="{'active': active_packages.includes(package)}" class="option"
                                x-html="getPackageHTML(package)">
                            </div>
                        </template>
                    </div>
                </div>
                <div class="docker-options-container" x-show="active_method === 'Docker'">
                    <div class="options-section">
                        <div class="option-label">Image Location</div>
                        <template x-for="loc in img_loc">
                            <div x-on:click="(e) => imgLocClickHandler(e, loc)"
                                x-bind:class="{'active': loc === active_img_loc, 'disabled': disableUnsupportedImgLoc(loc)}"
                                class="option" x-html="getImgLoc(loc)">
                            </div>
                        </template>
                    </div>
                    <div class="options-section">
                        <div class="option-label">Image OS</div>
                        <template x-for="version in os_vers">
                            <div x-on:click="(e) => imgOSClickHandler(e, version)"
                                x-bind:class="{'active': version === active_os_ver, 'disabled': disableUnsupportedImgOS(version)}"
                                class="option" x-html="getOSHTML(version)">
                            </div>
                        </template>
                    </div>
                    <div class="options-section">
                        <div class="option-label">Image Type</div>
                        <template x-for="type in img_types">
                            <div x-on:click="(e) => imgTypeClickHandler(e, type)"
                                x-bind:class="{'active': type === active_img_type, 'disabled': disableUnsupportedImgType(type)}"
                                class="option" x-text="getImgTypeText(type)"></div>
                        </template>
                    </div>
                    <div class="options-section">
                        <div class="option-label">Image Options</div>
                        <template x-for="option in img_options">
                            <div x-on:click="(e) => imgOptionClickHandler(e, option)"
                                x-bind:class="{'active': active_img_options.includes(option), 'disabled': disableUnsupportedImgOption(option)}"
                                class="option" x-text="getImgOptionText(option)"></div>
                        </template>
                    </div>
                </div>
                <div class="note" x-show="getNoteHtml()">
                    <div class="option-label"></div>
                    <div class="option-blank">
                        <div class="option-note-container" x-html="getNoteHtml()"></div>
                    </div>
                </div>
            </div>
            <div class="cmd">
                <div class="cmd-label">Command</div>
                <div class="cmd-box">
                    <pre class="highlight"><code><span x-ref="cmd" x-html="getCmdHtml"></span></code></pre>
                </div>
            </div>
        </div>
        <div class="selector-buttons">
            <a class="cmd-button" x-on:click="copyToClipboard">COPY COMMAND <i class="fas fa-clipboard"></i></a>
        </div>
    </div>
</section>

<script type="text/javascript">

    document.addEventListener('alpine:init', () => {
        Alpine.data('rapids_selector', () => ({
            // default values
            active_python_ver: "3.10",
            active_cuda_ver: "11.8",
            active_os_ver: "Ubuntu 22.04",
            active_method: "Conda",
            active_release: "Stable",
            active_arch: "amd",
            active_img_type: "core",
            active_img_loc: "NGC",
            active_packages: ["Standard"],
            active_img_options: ["notebooks"],
            active_additional_packages: [],

            // all possible values
            python_vers: ["3.8", "3.10"],
            cuda_vers: ["11.2", "11.4", "11.5", "11.8"],
            os_vers: ["Ubuntu 20.04", "Ubuntu 22.04", "CentOS 7", "Rocky Linux 8"],
            methods: ["Conda", "pip", "Docker", "Source"],
            releases: ["Stable", "Nightly"],
            arches: ["amd", "arm"],
            img_loc: ["NGC", "Dockerhub"],
            img_types: ["core", "standard", "clx"],
            packages: ["Standard", "cuDF", "cuML", "cuGraph", "cuSpatial", "cuXFilter", "cuSignal", "cuCIM"],
            pip_packages: ["cuDF", "cuML", "cuGraph", "cuCIM"],
            additional_packages: ["Dask SQL", "JupyterLab", "Plotly Dash", "Graphistry", "PyCaret", "TensorFlow", "Xarray-Spatial"], // , "RTXpy" will return later
            img_options: ["notebooks", "development"],
            note_prefix: "<i class='fas fa-info-circle text-blue'></i>",
            rapids_meta_pkgs: ["cuDF", "cuML", "cuGraph", "cuSpatial", "cuXFilter", "cuSignal", "cuCIM"],
            getStableVersion() {
                return "{{ site.data.releases.stable.version }}";
            },
            getNightlyVersion() {
                return "{{ site.data.releases.nightly.version }}";
            },
            getOSHTML(os_ver) {
                var icon_class = "ubuntu"
                if (os_ver.includes("CentOS")) icon_class = "centos";
                if (os_ver.includes("Rocky Linux")) icon_class = "linux";
                return os_ver + "&nbsp;<i class='fab fa-" + icon_class + "'></i>";
            },
            getMethodHTML(method) {
                var icon_class = "box-open fas";
                if (method.includes("Docker")) icon_class = "regular fa-container-storage";
                if (method.includes("Source")) icon_class = "cogs fas";
                return method + "&nbsp;<i class='fa-" + icon_class + "'></i>";
            },
            getPackageHTML(pkg) {

                if (pkg === "Standard") {
                    return pkg + "&nbsp;<i class='fas fa-check-square'></i>";
                }

                return pkg;
            },
            getReleaseText(release) {
                var version = this.getStableVersion();
                if (release.includes("Nightly")) version = this.getNightlyVersion() + "a";
                return release + " " + "(" + version + ")";
            },
            getArchText(arch) {
                var text = "Arch not implemented yet!"
                if (arch === "amd") text = "x86-64";
                if (arch === "arm") text = "Arm Server (SBSA)";
                return text;
            },
            highlightCmd(str) {
                return "<span class='nb'>" + str + "</span>"
            },
            highlightFlag(str) {
                return "<span class='nt'>" + str + "</span>"
            },
            highlightPkgOrImg(str) {
                return "<span class='nv'>" + str + "</span>"
            },
            highlightCondaPkg(pkg) {
                var channel_pkg_separator = "::";
                var pkg_components = pkg.split(channel_pkg_separator);
                if (pkg_components.length === 1) {
                    return this.highlightPkgOrImg(pkg);
                }
                return pkg_components[0] + channel_pkg_separator + this.highlightPkgOrImg(pkg_components[1]);
            },
            getAdditionalPkgName(pkg) {
                var dask_prefix = this.active_release === "Nightly" ? "dask/label/dev::" : "";
                var pkg_names = {
                    "Plotly Dash": "dash",
                    "Dask SQL": dask_prefix + "dask-sql"
                }
                return (pkg_names[pkg] || pkg).toLowerCase();
            },
            getCondaCmdHtml() {
                var rapids_version = this.active_release === "Stable" ? this.getStableVersion() : this.getNightlyVersion();
                var rapids_channel = this.active_release === "Stable" ? "rapidsai" : "rapidsai-nightly";
                var dask_prefix = this.active_release === "Nightly" ? "dask/label/dev::" : "";
                var python_version = this.active_python_ver;
                var cuda_version = this.active_cuda_ver;
                var pkgs = this.active_packages;
                var py_cuda_pkgs = [this.highlightPkgOrImg("python") + "=" + python_version, this.highlightPkgOrImg("cudatoolkit") + "=" + cuda_version].join(" ");
                var conda_channels = [rapids_channel, "conda-forge", "nvidia"]
                    .map(ch => this.highlightFlag("-c") + " " + ch + " ")
                    .join("");
                var indentation = "    ";

                if (this.active_packages.length === 1 && this.active_packages[0] === "Standard") {
                    pkgs = ["rapids"];
                }

                var pkgs_vers = pkgs.map(pkg => this.highlightPkgOrImg(pkg) + "=" + rapids_version + " ").join("").toLowerCase();
                var all_pkgs = pkgs_vers + py_cuda_pkgs;

                var conda_create_ln = this.highlightCmd('conda') + " create " + this.highlightFlag("-n") + " rapids-" + rapids_version + " " + conda_channels;
                var pkgs_ln = indentation + all_pkgs;
                var add_pkgs_ln = "";

                if (this.active_additional_packages.length) {
                    add_pkgs_ln = indentation + this.active_additional_packages
                        .map(pkg => this.highlightCondaPkg(this.getAdditionalPkgName(pkg)))
                        .join(" ");
                }

                var lines = [
                    conda_create_ln,
                    pkgs_ln,
                    add_pkgs_ln
                ].filter(Boolean).join(" \\\n");

                return lines;
            },
            getpipCmdHtml() {
                var pip_install = "pip install ";
                var index_url = " --extra_index_url=https://pypi.nvidia.com";
                var pkgs = String(this.active_packages).replaceAll(",", "-cu11 ").toLowerCase() + "-cu11";
                var isArm = this.active_arch === "arm";
                var cupy_inst = "";

                if (pkgs.includes("cucim")) {
                    pkgs = pkgs.replaceAll("cucim-cu11", "cucim");
                }
                if (pkgs === "cucim") {
                    index_url = "";
                }

                // This should be unnecessary and removed after 23.06
                if (isArm) {
                    cupy_inst = "\npip install cupy-cuda11x -f https://pip.cupy.dev/aarch64";
                }
                
                return pip_install + pkgs + index_url + cupy_inst;
            },
            getDockerCmdHtml() {
                var hasNotebooks = this.active_img_options.includes("notebooks");
                var isDevel = this.active_img_options.includes("development");
                var isNightly = this.active_release === "Nightly";
                var isArm = this.active_arch === "arm";
                var imgLoc = "";
                if (this.active_img_loc === "NGC") imgLoc = "nvcr.io/nvidia/"
                var imgVariant = "";
                if (this.active_img_type === "core") imgVariant = "core";
                if (this.active_img_type === "clx") imgVariant = "clx";
                var imgType = "base";
                if (hasNotebooks) imgType = "runtime";
                if (isDevel) imgType = "devel";
                var portOptions = (hasNotebooks ? ["8888:8888", "8787:8787", "8786:8786"] : [])
                    .map(opt => this.highlightFlag("-p") + " " + opt + " ").join("");

                var imgRepo = [
                    imgLoc + "rapidsai/rapidsai",
                    imgVariant,
                    (isDevel ? "dev" : ""),
                    (isNightly ? "nightly" : ""),
                    (isArm ? "arm64" : ""),
                ].filter(Boolean).join("-");

                var imgTag = [
                    (isNightly ? this.getNightlyVersion() : this.getStableVersion()),
                    "cuda" + this.active_cuda_ver,
                    imgType,
                    this.active_os_ver.replaceAll(" ", ""),
                    "py" + this.active_python_ver
                ].join("-");

                var fullImg = (this.highlightPkgOrImg(imgRepo) + ":" + imgTag).toLowerCase();

                var indent = "    ";
                var cmd = this.highlightCmd("docker") + " pull " + fullImg + "\n" +
                    this.highlightCmd("docker") + " run --" + this.highlightFlag("gpus") + " all --" + this.highlightFlag("rm") + " -" + this.highlightFlag("it") + " \\\n" +
                    indent + "--" + this.highlightFlag("shm-size") + "=1g --" + this.highlightFlag("ulimit") + " memlock=-1 --" + this.highlightFlag("ulimit") + " stack=67108864" + " \\\n" +
                    (portOptions ? indent + portOptions + "\\\n" : "") +
                    indent + fullImg;
                return cmd;
            },
            getSourceCmdHtml() {
                var isStable = this.active_release === "Stable";
                var version = isStable ? this.getStableVersion() : this.getNightlyVersion();
                var links = [
                    "https://github.com/rapidsai/cudf/blob/branch-" + version + "/CONTRIBUTING.md",
                    "https://github.com/rapidsai/cuml/blob/branch-" + version + "/README.md",
                    "https://github.com/rapidsai/cugraph/blob/branch-" + version + "/readme_pages/CONTRIBUTING.md",
                    "https://github.com/rapidsai/cuspatial/blob/branch-" + version + "/README.md",
                    "https://github.com/rapidsai/cuxfilter/blob/branch-" + version + "/CONTRIBUTING.md",
                    "https://github.com/rapidsai/cusignal#source-linux-os",
                    "https://github.com/rapidsai/cucim/blob/branch-" + version + "/CONTRIBUTING.md#building-and-testing-cucim-from-source"
                ];
                var cmd = "<p class='selector__source-cmd'>For source build instructions, please view the links below:</p>";
                cmd += "<ul class='selector__source-cmd__list'>";
                for (var i = 0; i < links.length; i++) {
                    var link = links[i];
                    cmd += "<li class='selector__source-cmd__list-item'>";
                    cmd += "<a class='selector__source-cmd__link' target='_blank' href='" + link + "'>" + link + "</a>";
                    cmd += "</li>";
                }
                cmd += "</ul>";
                return cmd;
            },
            getImgTypeText(type) {
                if (type === "core") return "Basic"
                if (type === "standard") return "Basic w/ Dask-SQL"
                if (type === "clx") return "Basic w/ CLX"
                return type;
            },
            getImgOptionText(option) {
                if (option === "notebooks") return "Include Jupyter Notebooks";
                if (option === "development") return "Development Image (only on Docker Hub)";
                return option;
            },
            getImgLoc(loc) {
                if (loc === "NGC") return 'NGC (Stable Only) <i class="fa-regular fa-share-nodes"></i>';
                if (loc === "Dockerhub") return 'Docker Hub (Stable and Nightly) <i class="fa-docker fab"></i>';
                return loc;
            },
            getDockerNotes() {
                var core_pkgs = this.rapids_meta_pkgs;

                if (this.active_img_type === "standard") {
                    core_pkgs = [...core_pkgs, "dask-sql"];
                }
                if (this.active_img_type === "clx") {
                    core_pkgs = [...core_pkgs, "clx"];
                }
                var pkgs_html = core_pkgs.map(pkg => "<code>" + pkg + "</code>").join(", ");
                return [this.note_prefix + " The selected image contains the following packages:<br>" + pkgs_html];
            },
            getCondaNotes() {
                var notes = [];
                notes = [...notes, "RAPIDS currently doesn't support <code>channel_priority: strict</code>; use <code>channel_priority: flexible</code> instead"];
                if (this.active_packages.length === 1 && this.active_packages[0] === "Standard") {
                    var pkgs_html = this.rapids_meta_pkgs.map(pkg => "<code>" + pkg + "</code>").join(", ");
                    notes = [...notes, "The <code>Standard</code> selection contains the following packages:<br>" + pkgs_html];
                }

                if (this.active_additional_packages.length) {
                    notes = [...notes, "Third-party packages are not tested."];

                    if (this.active_additional_packages.includes("TensorFlow")) {
                        notes = [...notes, "TensorFlow requires CUDA 11.2."];
                    }
                }

                return notes.map(note => this.note_prefix + " " + note);
            },
            getpipNotes() {
                var notes = [];
                notes = [...notes, "<code>cuDF</code>, <code>cuML</code>, and <code>cuGraph</code> pip packages are hosted on the NVIDIA Index<br>",
                         'pip installation supports Python <code>3.8</code>, <code>3.9</code>, and <code>3.10</code>'];

                return notes.map(note => this.note_prefix + " " + note);
            },
            getArmNotes() {
                return [this.note_prefix + " ARM support does not currently include Jetson products."];
            },
            getNoteHtml() {
                var notes = [];

                if (this.active_arch === "arm") {
                    notes.push(...this.getArmNotes());
                }

                if (this.active_method === "Docker") {
                    notes.push(...this.getDockerNotes());
                }

                if (this.active_method === "Conda") {
                    notes.push(...this.getCondaNotes());
                }

                if (this.active_method === "pip") {
                    notes.push(...this.getpipNotes());
                }

                return notes.map(note => `<div class="option-note">${note}</div>`).join("");
            },
            getCmdHtml() {
                if (this.active_method === "Docker")
                    return this.getDockerCmdHtml();
                if (this.active_method === "Conda")
                    return this.getCondaCmdHtml();
                if (this.active_method === "pip")
                    return this.getpipCmdHtml();
                if (this.active_method === "Source")
                    return this.getSourceCmdHtml();
                return "Not implemented yet!";
            },
            getNewestCudaVer() {
                return this.cuda_vers[this.cuda_vers.length - 1];
            },
            disableUnsupportedRelease(release) {
                var isDisabled = false;
                if (this.active_img_loc === "NGC" && this.active_method === "Docker" && release === "Nightly") isDisabled = true;
                if (this.active_method === "pip" && release === "Nightly") isDisabled = true;
                return isDisabled;
            },
            disableUnsupportedCuda(cuda_version) {
                var isDisabled = false;
                if (this.active_img_options.includes("development") && cuda_version !== this.getNewestCudaVer()) {
                    isDisabled = true;
                }
                if (this.active_additional_packages.includes("TensorFlow") && cuda_version !== "11.2") isDisabled = true;
                if (this.active_os_ver === 'Ubuntu 22.04' && cuda_version !== '11.8' && this.active_method === 'Docker') isDisabled = true;
                if (this.active_method === 'pip' && cuda_version !== '11.8') isDisabled = true;

                return isDisabled;
            },
            disableUnsupportedPython(python_version) {
                var isDisabled = false;
                return isDisabled;
            },
            disableUnsupportedImgOS(os) {
                var isDisabled = false;
                if (this.active_arch === "arm" && os === "CentOS 7") isDisabled = true;
                if (this.active_cuda_ver !== '11.8' && os === 'Ubuntu 22.04' && this.active_method === 'Docker') isDisabled = true;
                return isDisabled;
            },
            disableUnsupportedImgType(type) {
                var isDisabled = false;
                if (this.active_arch === "arm" && type !== "core") isDisabled = true;
                return isDisabled;
            },
            disableUnsupportedImgOption(option) {
                var isDisabled = false;
                var isNGC = this.active_img_loc === "NGC"
                if (isNGC && option === "development") isDisabled = true;
                return isDisabled;
            },
            disableUnsupportedImgLoc(loc) {
                var isDisabled = false;
                return isDisabled;
            },
            isDisabled(e) {
                return e.classList.contains("disabled");
            },
            releaseClickHandler(e, release) {
                if (this.isDisabled(e.target)) return;
                this.active_release = release;
            },
            imgTypeClickHandler(e, type) {
                if (this.isDisabled(e.target)) return;
                this.active_img_type = type;
            },
            archClickHandler(e, arch) {
                if (this.isDisabled(e.target)) return;
                if (arch === "arm") this.active_img_type = "core";
                if (arch === "arm" && this.active_os_ver === "CentOS 7") this.active_os_ver = "Ubuntu 22.04";
                this.active_arch = arch;
            },
            cudaClickHandler(e, version) {
                if (this.isDisabled(e.target)) return;
                this.active_cuda_ver = version;
            },
            pythonClickHandler(e, version) {
                if (this.isDisabled(e.target)) return;
                this.active_python_ver = version;
            },
            methodClickHandler(e, method) {
                if (this.isDisabled(e.target)) return;
                if (method !== "Docker") {
                    this.active_img_options = ["notebooks"];
                    this.active_img_type = "core";
                }
                if (method !== "Conda") {
                    this.active_additional_packages = [];
                }
                if (method === "pip") {
                    this.active_cuda_ver = '11.8';
                    this.active_release = 'Stable';
                    this.active_packages = ['cuDF']
                }
                if (method === "Docker") {
                    this.active_release = "Stable"
                    if (this.active_os_ver === 'Ubuntu 22.04') {
                        this.active_cuda_ver = '11.8';
                    }
                }
                this.active_method = method;
            },
            imgOSClickHandler(e, version) {
                if (this.isDisabled(e.target)) return;
                this.active_os_ver = version;
            },
            imgLocClickHandler(e, loc) {
                if (this.isDisabled(e.target)) return;

                if (loc === "NGC" && this.active_release !== "Stable") this.active_release = "Stable";

                // Disable development option when clicking NGC
                if (loc === "NGC" && this.active_img_options.includes("development")) {
                    this.active_img_options = this.active_img_options.filter(el => el !== "development")
                }

                this.active_img_loc = loc;
            },
            imgOptionClickHandler(e, option) {
                if (this.isDisabled(e.target)) return;

                // development images have notebooks
                if (option === "development" && this.active_img_options.length === 0) {
                    this.active_img_options = ["notebooks", "development"];
                    this.active_cuda_ver = this.getNewestCudaVer();
                    return;
                }

                if (option === "notebooks" && this.active_img_options.length === 2) {
                    this.active_img_options = [];
                    return;
                }

                if (this.active_img_options.includes(option)) {
                    this.active_img_options = this.active_img_options.filter(el => el !== option);
                    return;
                }

                this.active_img_options = [...this.active_img_options, option];
                if (this.active_img_options.includes("development")) {
                    this.active_cuda_ver = this.getNewestCudaVer();
                }
            },
            /**
            * Determines which packages are selected. "Standard" can only be
            * selected individually. All other packages can be selected together.
            **/
            packagesClickHandler(e, package) {
                if (package === "Standard") {
                    this.active_packages = [package];
                    return;
                }

                this.active_packages = this.active_packages.filter(el => el !== "Standard");

                if (this.active_packages.includes(package)) {
                    if (this.active_packages.length === 1) return;
                    this.active_packages = this.active_packages.filter(el => el !== package);
                    return;
                }
                this.active_packages = [...this.active_packages, package];
            },
            additionalPackagesClickHandler(e, package) {
                if (this.active_additional_packages.includes(package)) {
                    this.active_additional_packages = this.active_additional_packages.filter(el => el !== package);
                    return;
                }
                this.active_additional_packages = [...this.active_additional_packages, package];
                if (this.active_additional_packages.includes("TensorFlow") && this.active_cuda_ver !== "11.2") this.active_cuda_ver = "11.2";
            },
            copyToClipboard() {
                var range = document.createRange();
                range.selectNode(this.$refs.cmd);
                window.getSelection().removeAllRanges();
                window.getSelection().addRange(range);
                document.execCommand("copy");
                window.getSelection().removeAllRanges();
            },
        }))
    })
</script>
