<link rel="stylesheet"
  href="https://cdn.holoviz.org/panel/0.14.3/dist/bundled/deckglplot/mapbox-gl-js/v2.6.1/mapbox-gl.css"
  type="text/css" />
<link rel="stylesheet" href="https://cdn.holoviz.org/panel/0.14.3/dist/css/widgets.css" type="text/css" />
<link rel="stylesheet" href="https://cdn.holoviz.org/panel/0.14.3/dist/css/markdown.css" type="text/css" />
<link rel="stylesheet" href="https://cdn.holoviz.org/panel/0.14.3/dist/css/card.css" type="text/css" />
<link rel="stylesheet" href="https://cdn.holoviz.org/panel/0.14.3/dist/css/alerts.css" type="text/css" />
<link rel="stylesheet" href="https://cdn.holoviz.org/panel/0.14.3/dist/css/loading.css" type="text/css" />
<link rel="stylesheet" href="https://cdn.holoviz.org/panel/0.14.3/dist/css/json.css" type="text/css" />
<link rel="stylesheet" href="https://cdn.holoviz.org/panel/0.14.3/dist/css/debugger.css" type="text/css" />
<link rel="stylesheet" href="https://cdn.holoviz.org/panel/0.14.3/dist/css/dataframe.css" type="text/css" />
<style>
  .bk.pn-loading.arc:before {
    background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHN0eWxlPSJtYXJnaW46IGF1dG87IGJhY2tncm91bmQ6IG5vbmU7IGRpc3BsYXk6IGJsb2NrOyBzaGFwZS1yZW5kZXJpbmc6IGF1dG87IiB2aWV3Qm94PSIwIDAgMTAwIDEwMCIgcHJlc2VydmVBc3BlY3RSYXRpbz0ieE1pZFlNaWQiPiAgPGNpcmNsZSBjeD0iNTAiIGN5PSI1MCIgZmlsbD0ibm9uZSIgc3Ryb2tlPSIjYzNjM2MzIiBzdHJva2Utd2lkdGg9IjEwIiByPSIzNSIgc3Ryb2tlLWRhc2hhcnJheT0iMTY0LjkzMzYxNDMxMzQ2NDE1IDU2Ljk3Nzg3MTQzNzgyMTM4Ij4gICAgPGFuaW1hdGVUcmFuc2Zvcm0gYXR0cmlidXRlTmFtZT0idHJhbnNmb3JtIiB0eXBlPSJyb3RhdGUiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiBkdXI9IjFzIiB2YWx1ZXM9IjAgNTAgNTA7MzYwIDUwIDUwIiBrZXlUaW1lcz0iMDsxIj48L2FuaW1hdGVUcmFuc2Zvcm0+ICA8L2NpcmNsZT48L3N2Zz4=");
    background-size: auto calc(min(50%, 400px));
  }
</style>
<script type="text/javascript"
  src="https://cdn.holoviz.org/panel/0.14.3/dist/bundled/jquery/jquery.slim.min.js"></script>
<script type="text/javascript"
  src="https://cdn.holoviz.org/panel/0.14.3/dist/bundled/plotlyplot/plotly-2.18.0.min.js"></script>
<script type="text/javascript"
  src="https://cdn.holoviz.org/panel/0.14.3/dist/bundled/deckglplot/h3-js@3.7.2/dist/h3-js.umd.js"></script>
<script type="text/javascript"
  src="https://cdn.holoviz.org/panel/0.14.3/dist/bundled/deckglplot/deck.gl@8.6.7/dist.min.js"></script>
<script type="text/javascript"
  src="https://cdn.holoviz.org/panel/0.14.3/dist/bundled/deckglplot/@deck.gl/json@8.6.7/dist.min.js"></script>
<script type="text/javascript"
  src="https://cdn.holoviz.org/panel/0.14.3/dist/bundled/deckglplot/@loaders.gl/csv@3.1.7/dist/dist.min.js"></script>
<script type="text/javascript"
  src="https://cdn.holoviz.org/panel/0.14.3/dist/bundled/deckglplot/@loaders.gl/json@3.1.7/dist/dist.min.js"></script>
<script type="text/javascript"
  src="https://cdn.holoviz.org/panel/0.14.3/dist/bundled/deckglplot/@loaders.gl/3d-tiles@3.1.7/dist/dist.min.js"></script>
<script type="text/javascript"
  src="https://cdn.holoviz.org/panel/0.14.3/dist/bundled/deckglplot/mapbox-gl-js/v2.6.1/mapbox-gl.js"></script>
<script type="text/javascript" src="https://cdn.bokeh.org/bokeh/release/bokeh-2.4.3.min.js"></script>
<script type="text/javascript" src="https://cdn.bokeh.org/bokeh/release/bokeh-gl-2.4.3.min.js"></script>
<script type="text/javascript" src="https://cdn.bokeh.org/bokeh/release/bokeh-widgets-2.4.3.min.js"></script>
<script type="text/javascript" src="https://cdn.bokeh.org/bokeh/release/bokeh-tables-2.4.3.min.js"></script>
<script type="text/javascript" src="https://cdn.holoviz.org/panel/0.14.3/dist/panel.min.js"></script>
<script type="text/javascript">
  Bokeh.set_log_level("info");
</script>