/* Custom API layout CSS */
.api-left-header {
  max-height: 60px;
  display: flex;
  flex-wrap: wrap;
  width: 229px;
  background-color: #f5f6fa;
  border-bottom: 1px solid #dedede;
  position: absolute;
  top: 0;
  left: 0;
  padding: 0.5rem 2rem;
}

.api-site-title {
  color: #27262b;
}

.api-right-header {
  display: flex;
  justify-content: flex-end;
  height: 60px;
  padding: 0;
  border-bottom: 1px solid #dedede;
  margin-left: 229px;
}

.api-main-content {
  padding: 0;
  margin: 0;
  max-width: 100%;
}

#api-main-content {
  height: 100%;
}

#api-main-content iframe {
  position: fixed;
  height: 100%;
  border: none;
  top: 0;
  margin-top: 60px;
}

.api-page-header {
  background-color: #f5f6fa;
}
@media (min-width: 46.25rem) {
  .api-page-header {
    background-color: #fff;
  }
}
.api-page-header .main-content {
  padding-top: 0;
}
@media (min-width: 46.25rem) {
  .api-page-header .main-content {
    display: flex;
    justify-content: flex-end;
    height: 60px;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
}

.api-links {
  display: block;
  position: relative;
  flex-grow: 0;
  padding: 1rem;
  margin-bottom: 0;
  background-color: transparent;
  box-shadow: none;
  border-right: none;
}

.api-links-end {
  flex-grow: 1;
  border-right: none;
  text-align: left;
}

.api-links select {
  font-size: 14px;
}

.api-links li {
  margin: 0 0.25rem 0 0;
}

.api-links-double {
  padding: 0.25rem 0.5rem;
}

.api-links-label {
  padding: 0.5rem;
  text-align: center;
  background: #f5f6fa;
}

.api-links-label.orange {
  color: #ffb500;
  background: #f5f6fa;
  border-right: 1px solid #ffb500;
}

.api-links-label.blue {
  color: #36c9dd;
  background: #f5f6fa;
  border-right: 1px solid #36c9dd;
}

.api-links-label.dark-purple {
  color: #7400ff;
  background: #f5f6fa;
  border-right: 1px solid #7400ff;
}

dt {
  font-size: 14px !important;
  font-weight: 300 !important;
}

dd {
  font-size: 14px !important;
}

/* Font Colors */
.font-orange {
  color: #ffb500;
}

.font-blue {
  color: #36c9dd;
}

.font-dark-purple {
  color: #7400ff;
}

/* Help section */
.footer-help-section {
  display: flex;
  justify-content: left;
  padding: 1rem 0;
  flex-wrap: wrap;
}

.footer-help-box {
  padding: 0 1rem;
  text-align: center;
}

.footer-help-box-image img {
  min-height: 82px;
  align-items: center;
  justify-content: center;
  max-height: 82px;
}

.footer-help-box p {
  font-size: 14px;
  display: block;
  padding: 10px 0 0 0;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

/* JTD Overrides */
.page-content {
  max-width: 1000px !important;
}

/* JTD custom theme for RAPIDS */
/* RAPIDS Color #7253ed */

/* body */
body {
  font-family: -apple-system, BlinkMacSystemFont, "helvetica neue", helvetica,
    roboto, noto, "segoe ui", arial, sans-serif;
  font-size: inherit;
  line-height: 1.4;
  color: #5c5962;
  background-color: #fff;
}

h1,
h2,
.rst-content .toctree-wrapper p.caption,
h3,
h4,
h5,
h6,
legend {
  font-family: -apple-system, BlinkMacSystemFont, "helvetica neue", helvetica,
    roboto, noto, "segoe ui", arial, sans-serif;
}

.contents a,
.wy-body-for-nav a {
  color: #7253ed;
  text-decoration: none;
  background-image: linear-gradient(#eeebee 0%, #eeebee 100%);
  background-repeat: repeat-x;
  background-position: 0 100%;
  background-size: 1px 1px;
}

.contents a:hover,
.wy-body-for-nav a:hover {
  color: #7253ed;
  background-image: linear-gradient(
    rgba(114, 83, 237, 0.45) 0%,
    rgba(114, 83, 237, 0.45) 100%
  );
  background-size: 1px 1px;
}

.wy-menu-vertical a {
  color: #5d5962;
}

.wy-nav-content {
  max-width: 1000px;
}

/* side nav */
.wy-nav-content-wrap {
  background-color: #fcfcfc;
}

.wy-nav-side {
  border-right: 1px solid #eeebee;
  background-color: #f5f6fa;
}

.wy-side-nav-search {
  background-color: #f5f6fa;
}

.wy-side-nav-search input[type="text"] {
  border-radius: 0;
  border-color: #7253ed;
}

.wy-side-nav-search > a,
.wy-side-nav-search .wy-dropdown > a {
  color: #7253ed;
}

.wy-menu-vertical header,
.wy-menu-vertical p.caption {
  color: inherit;
}

.wy-menu-vertical header,
.wy-menu-vertical p.caption {
  color: #7253ed;
}

.wy-menu-vertical a:hover {
  background-color: #eaeaea;
}

.wy-side-nav-search > div.version {
  color: #5c5962;
}

/* breakout blocks */

.highlight {
  background-color: #f6f3ff;
}

.highlight .k {
  color: #920b60;
}

.highlight .nn {
  color: #7253ed;
}

.highlight .kk {
  color: #920b60;
}

.highlight .kn {
  color: #920b60;
}

.highlight .nb {
  color: #920b60;
}

.rst-content dl:not(.docutils) dt {
  background: #f1eeff;
  color: #491dc3;
  border-top: solid 3px #7253ed;
}

.rst-content pre.literal-block,
.rst-content div[class^="highlight"] {
  border: none;
}

.wy-alert.wy-alert-info .wy-alert-title,
.rst-content .note .wy-alert-title,
.rst-content .wy-alert-info.attention .wy-alert-title,
.rst-content .wy-alert-info.caution .wy-alert-title,
.rst-content .wy-alert-info.danger .wy-alert-title,
.rst-content .wy-alert-info.error .wy-alert-title,
.rst-content .wy-alert-info.hint .wy-alert-title,
.rst-content .wy-alert-info.important .wy-alert-title,
.rst-content .wy-alert-info.tip .wy-alert-title,
.rst-content .wy-alert-info.warning .wy-alert-title,
.rst-content .seealso .wy-alert-title,
.rst-content .wy-alert-info.admonition-todo .wy-alert-title,
.rst-content .wy-alert-info.admonition .wy-alert-title,
.wy-alert.wy-alert-info .rst-content .admonition-title,
.rst-content .wy-alert.wy-alert-info .admonition-title,
.rst-content .note .admonition-title,
.rst-content .wy-alert-info.attention .admonition-title,
.rst-content .wy-alert-info.caution .admonition-title,
.rst-content .wy-alert-info.danger .admonition-title,
.rst-content .wy-alert-info.error .admonition-title,
.rst-content .wy-alert-info.hint .admonition-title,
.rst-content .wy-alert-info.important .admonition-title,
.rst-content .wy-alert-info.tip .admonition-title,
.rst-content .wy-alert-info.warning .admonition-title,
.rst-content .seealso .admonition-title,
.rst-content .wy-alert-info.admonition-todo .admonition-title,
.rst-content .wy-alert-info.admonition .admonition-title {
  background-color: #7253ec;
}

.wy-alert.wy-alert-info,
.rst-content .note,
.rst-content .wy-alert-info.attention,
.rst-content .wy-alert-info.caution,
.rst-content .wy-alert-info.danger,
.rst-content .wy-alert-info.error,
.rst-content .wy-alert-info.hint,
.rst-content .wy-alert-info.important,
.rst-content .wy-alert-info.tip,
.rst-content .wy-alert-info.warning,
.rst-content .seealso,
.rst-content .wy-alert-info.admonition-todo,
.rst-content .wy-alert-info.admonition {
  background: #f1edff;
}

/* Selector CSS starts here */

.rapids-home-container {
  text-align: center;
}

.rapids-home-container__home-btn {
  position: relative;
  display: block;
  padding: 0.5em 0;
}

.rapids-home-container__home-btn::before {
  font-family: "FontAwesome";
  content: "\f015";
  font-weight: 400;
}

#rapids-sphinx-container {
  margin: 0 0 34px;
}

.rapids-selector__container,
.rapids-home-container {
  margin: 0 auto;
}

.rapids-selector__container {
  position: relative;
  text-align: left;
}

@media (min-width: 768px) {
  #rapids-doxygen-container .rapids-home-container,
  #rapids-doxygen-container .rapids-selector__container {
    display: inline-block;
    margin: 0 0 0 40px;
  }
}

.rapids-selector__container * {
  box-sizing: border-box;
}

.rapids-home-container__home-btn,
.rapids-home-container__home-btn:visited,
.rapids-home-container__home-btn:hover,
.rapids-selector__selected {
  color: #7253ed;
  font-weight: 700;
  text-decoration: none;
  background-image: linear-gradient(#eeebee 0%, #eeebee 100%);
  background-repeat: repeat-x;
  background-position: 0 100%;
  background-size: 1px 1px;
}

.rapids-selector__selected:hover,
.rapids-home-container__home-btn:hover {
  background-image: linear-gradient(
    rgba(114, 83, 237, 0.45) 0%,
    rgba(114, 83, 237, 0.45) 100%
  );
  background-size: 1px 1px;
}

.rapids-selector__selected {
  cursor: pointer;
  padding: 0.5em 0;
}

.rapids-selector__selected::after {
  content: "\f0d7";
  font-family: "FontAwesome";
  position: absolute;
  transition: all 250ms ease-in-out;
  transform: rotate(180deg);
}

.rapids-selector--hidden .rapids-selector__selected::after {
  transform: rotate(0);
}

#rapids-doxygen-container .rapids-selector__selected::after {
  margin-left: 5px;
}

#rapids-sphinx-container .rapids-selector__selected::after {
  right: 0;
}

.rapids-selector__menu {
  position: absolute;
  z-index: 10000; /* keep above 9999 for doxygen compatibility */
  background-color: #f5f6fa;
  min-width: 100%;
  left: 0;
  box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.2),
    0px 8px 10px 1px rgba(0, 0, 0, 0.14), 0px 3px 14px 2px rgba(0, 0, 0, 0.12);
  overflow: hidden;
  transition: all 250ms ease-in-out;
}

.rapids-selector--hidden .rapids-selector__menu {
  height: 0 !important;
  visibility: hidden;
}

.rapids-selector__menu-item {
  display: block;
  padding: 0.5em;
  white-space: nowrap;
}

a.rapids-selector__menu-item,
a.rapids-selector__menu-item:visited {
  color: #5c5962;
}

a.rapids-selector__menu-item:hover,
a.rapids-selector__menu-item--selected,
a.rapids-selector__menu-item--selected:visited {
  text-decoration: none;
  background-color: #7253ed;
  color: white;
}

a.rapids-selector__menu-item--selected {
  cursor: default;
}
