nav.bd-links fieldset legend {
  color: var(--pst-color-text-base);
  font-weight: var(--pst-sidebar-header-font-weight);
  font-size: 1em;
}

nav.bd-links fieldset input {
  margin-left: 1em;
  margin-right: 0.25em;
}

.bd-links__title small {
  float: right;
  padding-right: 2em;
}

nav.related-files {
  font-family: var(--pst-font-family-monospace);
}

nav.bd-links fieldset .sd-badge {
  font-size: 0.9em;
}

.tagwrapper {
  margin-top: 0.25em;
}

/* Tag colours */
.sd-badge {
  /* Defaults */
  color: var(--sd-color-primary-text);
  background-color: var(--sd-color-primary);
  border-left: 0.5em var(--sd-color-primary) solid;
  padding-left: 0.25em !important;
}

.tag-dask,
.tag-dask-kubernetes,
.tag-dask-operator,
.tag-dask-yarn,
.tag-dask-gateway,
.tag-dask-jobqueue,
.tag-dask-helm-chart,
.tag-dask-cloudprovider,
.tag-dask-ml {
  color: #262326;
  background-color: #ffc11e !important;
  border-left: 0.5em #ffc11e solid;
}

.tag-kubernetes,
.tag-kubeflow {
  background-color: #3069de;
  border-left: 0.5em #3069de solid;
}

.tag-aws {
  color: #222e3c;
  background-color: #f79700;
  border-left: 0.5em #f79700 solid;
}

.tag-optuna {
  background-color: #045895;
  border-left: 0.5em #045895 solid;
}

.tag-numpy {
  background-color: #4ba6c9;
  border-left: 0.5em #4670c8 solid;
}

.tag-scikit-learn {
  color: #030200;
  background-color: #f09436;
  border-left: 0.5em #3194c7 solid;
}

.tag-dataset {
  background-color: #cc539d;
  border-left: 0.5em #cc539d solid;
}

.tag-workflow {
  background-color: #348653;
  border-left: 0.5em #348653 solid;
}
