.rapids-home-container__home-btn {
  position: relative;
  display: block;
  padding: 10px 0;
}

.rapids-home-container__home-btn::before {
  font-family: "FontAwesome";
  content: "\f015";
  font-weight: 400;
}

.rapids-selector__container {
  position: relative;
}

#rapids-sphinx-container {
  margin: 0 0 34px;
}

.rapids-selector__container,
.rapids-home-container {
  margin: 0 auto;
  text-align: center;
}

@media (min-width: 768px) {
  #rapids-doxygen-container .rapids-home-container,
  #rapids-doxygen-container .rapids-selector__container {
    display: inline-block;
    margin: 0 0 0 40px;
  }
}

.rapids-selector__container * {
  box-sizing: border-box;
}

.rapids-home-container__home-btn,
.rapids-home-container__home-btn:visited,
.rapids-home-container__home-btn:hover,
.rapids-selector__selected {
  color: #7253ed;
  font-size: 28px;
  font-weight: 700;
  text-decoration: none;
  background-image: linear-gradient(#eeebee 0%, #eeebee 100%);
  background-repeat: repeat-x;
  background-position: 0 100%;
  background-size: 1px 1px;
}

.rapids-selector__selected:hover,
.rapids-home-container__home-btn:hover {
  background-image: linear-gradient(
    rgba(114, 83, 237, 0.45) 0%,
    rgba(114, 83, 237, 0.45) 100%
  );
  background-size: 1px 1px;
}

.rapids-selector__selected {
  cursor: pointer;
  padding: 10px 8px;
}

.rapids-selector__selected::after {
  content: "\f0d7";
  font-family: "FontAwesome";
  position: absolute;
  transition: all 250ms ease-in-out;
  transform: rotate(180deg);
}

.rapids-selector--hidden .rapids-selector__selected::after {
  transform: rotate(0);
}

#rapids-doxygen-container .rapids-selector__selected::after {
  margin-left: 5px;
}

#rapids-sphinx-container .rapids-selector__selected::after {
  right: 0;
}

.rapids-selector__menu {
  position: absolute;
  z-index: 10000; /* keep above 9999 for doxygen compatibility */
  background-color: #f5f6fa;
  min-width: 100%;
  left: 0;
  box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.2),
    0px 8px 10px 1px rgba(0, 0, 0, 0.14), 0px 3px 14px 2px rgba(0, 0, 0, 0.12);
  overflow: hidden;
  transition: all 250ms ease-in-out;
}

.rapids-selector--hidden .rapids-selector__menu {
  height: 0 !important;
  visibility: hidden;
}

.rapids-selector__menu-item {
  display: block;
  padding: 5px 8px 5px;
  font-weight: 700;
  font-size: 20px;
}

a.rapids-selector__menu-item,
a.rapids-selector__menu-item:visited {
  color: #5c5962;
}

a.rapids-selector__menu-item:hover,
a.rapids-selector__menu-item--selected,
a.rapids-selector__menu-item--selected:visited {
  text-decoration: none;
  background-color: #7253ed;
  color: white;
}

a.rapids-selector__menu-item--selected {
  cursor: default;
}

.rapids-selector__menu-item:first-child {
  padding: 10px 0 5px;
}

.rapids-selector__menu-item:last-child {
  padding: 5px 0 10px;
}
