<!DOCTYPE html>

<html lang="en-us">
{% include head.html %}
<body>
<script type="text/javascript">
  // Initialize on start
  $(function() {
    $('select').on('change', function() {
      if(this.value != '') {
        load_page(this.value);
      }
    });
    var cnt = $('#legacy-libs option').length;
    if (cnt == 1) {
      // No legacy libraries to show
      $('#legacy-libs').hide();
    }
  });

  function load_page(url) {
    window.location.replace(url);
  }
</script>
  <div class="page-wrap">
    <div class="main-content-wrap js-main-content" tabindex="0">
      <div class="api-page-header">
        <div class="api-left-header">
          <a href="{{ site.url }}{{ site.baseurl }}/api" class="api-site-title fs-6 lh-tight">RAPIDS API Docs</a>
        </div>
        <div class="api-right-header">
          <div class="api-links api-links-label blue">
            <ul class="list-style-none fs-3 mt-md-1 mb-md-1 pb-4 pb-md-0 js-aux-nav aux-nav">
              <li class="text-delta fw-700 d-inline-block my-0 mr-0">
                <i class="fas fa-check-square"></i></br>Stable
              </li>
            </ul>
          </div>
          <div class="api-links api-links-double">
            <ul class="list-style-none fs-3 fw-500 mt-md-1 mb-md-1 pb-4 pb-md-0 js-aux-nav aux-nav">
              <li class="text-delta d-inline-block my-0{% unless forloop.last %} mr-2{% endunless %}">APIS</li>
              {% for lib in site.data.apis %}
              {% assign api = lib[1] %}
              {% for ver in api.stable %}
                {% assign loc = api.path | append: '/stable' %}
                {% if page.path contains loc %}
                <li class="d-inline-block fw-900 my-0{% unless forloop.last %} mr-2{% endunless %}">
                  {{ api.name }}
                </li>
                {% else %}
                <li class="d-inline-block fw-300 my-0{% unless forloop.last %} mr-2{% endunless %}">
                  <a href="{{ site.url }}{{ site.baseurl }}/api/{{ api.path }}/stable">{{ api.name }}</a>
                </li>
                {% endif %}
              {% endfor %}
              {% endfor %}
            </ul>
            <ul class="list-style-none fs-3 fw-500 mt-md-1 mb-md-1 pb-4 pb-md-0 js-aux-nav aux-nav">
                <li class="text-delta d-inline-block my-0{% unless forloop.last %} mr-2{% endunless %}">LIBS</li>
                {% for lib in site.data.libs %}
                {% assign api = lib[1] %}
                {% for ver in api.stable %}
                  {% assign loc = api.path | append: '/stable' %}
                  {% if page.path contains loc %}
                  <li class="d-inline-block fw-900 my-0{% unless forloop.last %} mr-2{% endunless %}">
                    {{ api.name }}
                  </li>
                  {% else %}
                  <li class="d-inline-block fw-300 my-0{% unless forloop.last %} mr-2{% endunless %}">
                    <a href="{{ site.url }}{{ site.baseurl }}/api/{{ api.path }}/stable">{{ api.name }}</a>
                  </li>
                  {% endif %}
                {% endfor %}
                {% endfor %}
              </ul>
          </div>
          <div class="api-links api-links-label orange">
            <ul class="list-style-none fs-3 mt-md-1 mb-md-1 pb-4 pb-md-0 js-aux-nav aux-nav">
              <li class="text-delta fw-700 d-inline-block my-0 mr-0">
                <i class="fas fa-flask"></i></br>Nightly
              </li>
            </ul>
          </div>
          <div class="api-links api-links-double">
            <ul class="list-style-none fs-3 fw-500 mt-md-1 mb-md-1 pb-4 pb-md-0 js-aux-nav aux-nav">
              <li class="text-delta d-inline-block my-0{% unless forloop.last %} mr-2{% endunless %}">APIS</li>
              {% for lib in site.data.apis %}
              {% assign api = lib[1] %}
              {% for ver in api.stable %}
                {% assign loc = api.path | append: '/nightly' %}
                {% if page.path contains loc %}
                <li class="d-inline-block fw-900 my-0{% unless forloop.last %} mr-2{% endunless %}">
                  {{ api.name }}
                </li>
                {% else %}
                <li class="d-inline-block fw-300 my-0{% unless forloop.last %} mr-2{% endunless %}">
                  <a href="{{ site.url }}{{ site.baseurl }}/api/{{ api.path }}/nightly">{{ api.name }}</a>
                </li>
                {% endif %}
              {% endfor %}
              {% endfor %}
            </ul>
            <ul class="list-style-none fs-3 fw-500 mt-md-1 mb-md-1 pb-4 pb-md-0 js-aux-nav aux-nav">
                <li class="text-delta d-inline-block my-0{% unless forloop.last %} mr-2{% endunless %}">LIBS</li>
                {% for lib in site.data.libs %}
                {% assign api = lib[1] %}
                {% for ver in api.stable %}
                  {% assign loc = api.path | append: '/nightly' %}
                  {% if page.path contains loc %}
                  <li class="d-inline-block fw-900 my-0{% unless forloop.last %} mr-2{% endunless %}">
                    {{ api.name }}
                  </li>
                  {% else %}
                  <li class="d-inline-block fw-300 my-0{% unless forloop.last %} mr-2{% endunless %}">
                    <a href="{{ site.url }}{{ site.baseurl }}/api/{{ api.path }}/nightly">{{ api.name }}</a>
                  </li>
                  {% endif %}
                {% endfor %}
                {% endfor %}
              </ul>
          </div>
          <div class="api-links api-links-label dark-purple">
              <ul class="list-style-none fs-3 mt-md-1 mb-md-1 pb-4 pb-md-0 js-aux-nav aux-nav">
                <li class="text-delta fw-700 d-inline-block my-0 mr-0">
                  <i class="fas fa-history"></i><br/>Legacy
                </li>
              </ul>
            </div>
          <div class="api-links">
            <ul class="list-style-none fs-3 fw-500 mt-md-1 mb-md-1 pb-4 pb-md-0 js-aux-nav aux-nav">
              <li class="d-inline-block my-0{% unless forloop.last %} mr-2{% endunless %}">
                <select id="legacy-apis" name="legacy-apis">
                  <option value="">APIS</option>
                  {% for lib in site.data.apis %}
                  {% assign api = lib[1] %}
                  {% for ver in api.legacy %}
                    {% assign loc = api.path | append: '/' | append: ver.file %}
                    {% if page.path contains loc %}
                    <option value="{{ site.url }}{{ site.baseurl }}/api/{{ api.path }}/{{ ver.file }}" selected>{{ ver.name }}</option>
                    {% else %}
                    <option value="{{ site.url }}{{ site.baseurl }}/api/{{ api.path }}/{{ ver.file }}">{{ ver.name }}</option>
                    {% endif %}
                  {% endfor %}
                  {% endfor %}
                </select>
              </li>
              <li class="d-inline-block my-0{% unless forloop.last %} mr-2{% endunless %}">
                <select id="legacy-libs" name="legacy-libs">
                  <option value="">LIBS</option>
                  {% for lib in site.data.libs %}
                  {% assign api = lib[1] %}
                  {% for ver in api.legacy %}
                    {% assign loc = api.path | append: '/' | append: ver.file %}
                    {% if page.path contains loc %}
                    <option value="{{ site.url }}{{ site.baseurl }}/api/{{ api.path }}/{{ ver.file }}" selected>{{ ver.name }}</option>
                    {% else %}
                    <option value="{{ site.url }}{{ site.baseurl }}/api/{{ api.path }}/{{ ver.file }}">{{ ver.name }}</option>
                    {% endif %}
                  {% endfor %}
                  {% endfor %}
                </select>
              </li>
            </ul>
          </div>
          <div class="api-links api-links-end">
              <ul class="list-style-none fs-3 mt-md-1 mb-md-1 pb-4 pb-md-0 js-aux-nav aux-nav">
                <li class="d-inline-block my-0{% unless forloop.last %} mr-2{% endunless %}">
                  <a href="{{ site.url }}{{ site.baseurl }}/api">Return to API Docs</a>
                </li>
              </ul>
            </div>
        </div>
      </div>
      <div class="api-main-content">
        <div id="api-main-content" class="page-content" role="main">
          {{ content }}
        </div>
      </div>
    </div>
  </div>

</body>
</html>
