<!DOCTYPE html>

<html lang="en-us">
{% include head.html %}
<body>
<script type="text/javascript">
  // Initialize on start
  $(function() {
    $('select').on('change', function() {
      if(this.value != '') {
        load_page(this.value);
      }
    });
  });

  function load_page(url) {
    window.location.replace(url);
  }
</script>
  <div class="page-wrap">
    <div class="main-content-wrap js-main-content" tabindex="0">
      <div class="api-page-header">
        <div class="api-left-header">
          <a href="{{ site.url }}{{ site.baseurl }}/docs/api" class="api-site-title fs-6 lh-tight">RAPIDS API Docs</a>
        </div>
        <div class="api-right-header">
          <div class="api-links api-links-border">
            <ul class="list-style-none fs-3 fw-500 mt-md-1 mb-md-1 pb-4 pb-md-0 js-aux-nav aux-nav">
              <li class="d-inline-block my-0{% unless forloop.last %} mr-2{% endunless %}">Stable Docs</li>
              {% for lib in site.data.apis %}
              {% assign api = lib[1] %}
              {% for ver in api.stable %}
                <li class="d-inline-block my-0{% unless forloop.last %} mr-2{% endunless %}">
                  <a href="{{ site.url }}{{ site.baseurl }}/docs/api/{{ api.path }}/stable">{{ api.name }}</a>
                </li>
              {% endfor %}
              {% endfor %}
            </ul>
          </div>
          <div class="api-links">
            <ul class="list-style-none fs-3 fw-500 mt-md-1 mb-md-1 pb-4 pb-md-0 js-aux-nav aux-nav">
              <li class="d-inline-block my-0{% unless forloop.last %} mr-2{% endunless %}">Additional Docs</li>
              <li class="d-inline-block my-0{% unless forloop.last %} mr-2{% endunless %}">
                <select id="legacy" name="legacy">
                  <option value="" selected>Legacy</option>
                  {% for lib in site.data.apis %}
                  {% assign api = lib[1] %}
                  {% for ver in api.legacy %}
                    <option value="{{ site.url }}{{ site.baseurl }}/docs/api/{{ api.path }}/{{ ver.file }}">{{ ver.name }}</option>
                  {% endfor %}
                  {% endfor %}
                </select>
              </li>
              <li class="d-inline-block my-0{% unless forloop.last %} mr-2{% endunless %}">
                <select id="nightly" name="nightly">
                  <option value="" selected>Nightly</option>
                  {% for lib in site.data.apis %}
                  {% assign api = lib[1] %}
                  {% for ver in api.nightly %}
                    <option value="{{ site.url }}{{ site.baseurl }}/docs/api/{{ api.path }}/nightly">{{ ver.name }}</option>
                  {% endfor %}
                  {% endfor %}
                </select>
              </li>
            </ul>
          </div>
          <div class="api-links api-links-end">
              <ul class="list-style-none fs-3 mt-md-1 mb-md-1 pb-4 pb-md-0 js-aux-nav aux-nav">
                <li class="d-inline-block my-0{% unless forloop.last %} mr-2{% endunless %}">
                  <a href="{{ site.url }}{{ site.baseurl }}/docs/api">Return to API Docs</a>
                </li>
              </ul>
            </div>
        </div>
      </div>
      <div class="api-main-content">
        <div id="api-main-content" class="page-content" role="main">
          {{ content }}
        </div>
      </div>
    </div>
  </div>

</body>
</html>
