---
layout: default
---
{{ content }}

<hr>

{% if page.has_notice_index %}
  {% assign notice_list = site.notices | where:"notice_type",page.notice_type | sort:"notice_id" %}
  {% assign notice_cnt = notice_list | size %}
    {% if notice_cnt == 0 %}
      <h2 class="text-delta">No current Notices</h2>
    {% else %}
    <table>
      <thead>
        <tr>
          <th>Notice</th>
          <th>Title</th>
          <th>Topic</th>
          <th>RAPIDS Version</th>
          <th>Updated</th>
        </tr>
      </thead>
      <tbody>
      {% for notice in notice_list %}
        <tr>
          <td>
            <b>{{ notice.notice_type | upcase }} {{ notice.notice_id}}</b><br/><p class="label label-title label-{{ notice.notice_status_color }}">{{ notice.notice_status }}</p>
          </td>
          <td>
            <a href="{{ notice.url | relative_url }}">{{ notice.title }}</a>
          </td>
          <td>
            {{ notice.notice_topic }}
          </td>
          <td>
            {{ notice.notice_rapids_version }}
          </td>
          <td>
            {% assign updated_size = notice.notice_updated | size %}
            {% if updated_size == 0 or notice.notice_updated == "N/A" %}
              {{ notice.notice_created }}
            {% else %}
              {{ notice.notice_updated }}
            {% endif %}
          </td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
  {% endif %}
{% endif %}

{% if page.has_notice_pin_index %}
  <h2>Recent and Important Notices</h2>
  {% assign notice_list = site.notices | where:"notice_pin","true" | sort: "notice_id" | sort:"notice_type" %}
  {% assign notice_cnt = notice_list | size %}
  {% if notice_cnt == 0 %}
    <h2 class="text-delta">No current Notices</h2>
  {% else %}
    <table>
      <thead>
        <tr>
          <th>Notice</th>
          <th>Title</th>
          <th>Topic</th>
          <th>RAPIDS Version</th>
          <th>Updated</th>
        </tr>
      </thead>
      <tbody>
      {% for notice in notice_list %}
        <tr>
          <td>
            <b>{{ notice.notice_type | upcase }} {{ notice.notice_id}}</b><br/><p class="label label-title label-{{ notice.notice_status_color }}">{{ notice.notice_status }}</p>
          </td>
          <td>
            <a href="{{ notice.url | relative_url }}">{{ notice.title }}</a>
          </td>
          <td>
            {{ notice.notice_topic }}
          </td>
          <td>
            {{ notice.notice_rapids_version }}
          </td>
          <td>
            {% assign updated_size = notice.notice_updated | size %}
            {% if updated_size == 0 or notice.notice_updated == "N/A" %}
              {{ notice.notice_created }}
            {% else %}
              {{ notice.notice_updated }}
            {% endif %}
          </td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
  {% endif %}
{% endif %}
