---
layout: default
---
<h1><b>{{ page.notice_type | upcase }} {{ page.notice_id}}</b> - {{ page.title }}</h1>

<table>
  <tbody>
    <tr>
      <td style="width: 25%"><strong>Author</strong></td>
      <td>{{ page.notice_author }}</td>
    </tr>
    <tr>
      <td><strong>Status</strong></td>
      <td><p class="label label-title label-{{ page.notice_status_color }}">{{ page.notice_status }}</p></td>
    </tr>
    <tr>
      <td><strong>Topic</strong></td>
      <td>{{ page.notice_topic }}</td>
    </tr>
    <tr>
      <td><strong>RAPIDS Version</strong></td>
      <td>{{ page.notice_rapids_version }}</td>
    </tr>
    <tr>
      <td><strong>Created</strong></td>
      <td>{{ page.notice_created | date_to_long_string }}</td>
    </tr>
    <tr>
      <td><strong>Updated</strong></td>
      <td>{% if page.notice_updated != null and page.notice_created != page.notice_updated %}{{ page.notice_updated | date_to_long_string }}{% else %}N/A{% endif %}</td>
    </tr>
  </tbody>
</table>

{{ content }}
